# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/archivos/
/dataSources.local.xml
/img/
/parap.php
/parap2.php
# Personales
/models/conection.php
