RewriteEngine On
RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?metepec.simontspbrm.com [NC]
#RewriteRule \.(jpg|jpeg|png|gif)$ - [NC,F,L]

<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript application/javascript
</IfModule>

ErrorDocument 404 /planeacionyevaluacion/404.html
